<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Node.js News</title>
		<link rel="stylesheet" href="/css/styles.css" />
	</head>
	<body>
		<header class="header">
			<div class="header__logo">Node.js News</div>
			<div class="header__search">Search</div>
		</header>

		<div class="wrapper">
			<div class="news">
                <% article.forEach((article,index) => { %> 
                <a href="/article/<%- article.id %> " class="news__card">
                    <img src="<%- article.thumbnail_url %>" alt="">
                    <h2><%- article.title.rendered %> </h2>
                    <p><%- article.excerpt.rendered %> </p>
            </a>
                <% }) %>
			</div>
		</div>
	</body>
</html>
